.priceList {
	background: rgba(0,0,0,0.6);
	padding: 5px;
	border: 2px solid #000;
	border-radius: 10px;
}

.thing {
	color: rgba(255,255,255,0.95);
	border-bottom: 1px solid #000;
	padding: 10px 0;
}

.thing:last-child {
	border: none;
}

.headerPrice, .price {
	display: inline-block;
}

.price {
	float: right;
}

.description {
	font-style: italic;
	margin-top: 10px;
}