@media screen and (max-height: 390px) {
	.headerContent .quote {
		display: none;
	}

	#showDataAboutMe {
		margin: 25px 0;
	}
}

@media screen and (max-height: 300px) {

	.headerContent .below {
		display: none;
	}

	#showDataAboutMe {
		margin-top: 20px;
	}
}