@media screen and (max-width: 413px) {
	body {
		font-size: 11.5pt;
	}

	.niggaText {
		max-width: 98%;
	}

	.dogText {
		max-width: 98%;
	}
}

@media screen and (max-width: 374px) {
	body {
		font-size: 10.5pt;
	}

	.niggaText {
		max-width: 99%;
	}

	.dogText {
		max-width: 99%;
	}

	#showDataAboutMe {
		margin: 25px 0;
	}
}