/* REMOVES ON 800px */
.sovetPepe {width: 40%; margin-right: 25px;}
.sovetPepe img {width: 100%;}

.sovetPepeText {
	text-align: center;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lastArticlesList {margin-top: -20px;}
.lastArticlesList a {color: #703b3b;text-decoration: underline;}
.lastArticlesList a:hover {font-weight: bold; color: #703b3b;}
.lastArticlesList li {margin: 10px 0;}
.lastArticlesList li:first-child {margin-top: 0;}
.lastArticlesList li:last-child {margin-bottom: 0;}

/*** Articles filter Tab ***/

.articlesFilter {
	background: #c14545;
	padding: 20px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.articleSearch {display: flex;}
.searchInput {border-bottom-right-radius: 0px; border-top-right-radius: 0px;}

.searchBtn {
	background: #703b3b url("../../images/search.png") no-repeat center center;
	background-size: 18px;
	padding: 0px 20px;
	cursor: pointer;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	transition: 0.4s all;
}
.searchBtn:hover {opacity: 0.7;}
.searchBtn:active {opacity: 0.5;}

/*** Category tab ***/

#categoryTab {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.categoryList .circleListLi {
	cursor: pointer;
	border-radius: 50px;
	transition: 0.4s all;
	padding-right: 15px;
}
.categoryList .circleListLi:hover {background: #ea4c4c;}
.categoryList .circleListLi:hover .circleDecoration {background: #faf4d0; color: #ea4c4c;}

.catListName {transition: 0.4s all;}
.categoryList .circleListLi:hover .catListName {color: #faf4d0;}

@media screen and (max-width: 800px) {
	.sovetPepe {display: none;}
	.sovetPepeText {max-width: 90%;}
}

@media screen and (max-width: 620px) {
	.categoryList {font-size: 85%;}

	.articlesFilter {flex-direction: column; justify-content: center;}
	.articlesFilter .articleSearch {margin-top: 20px;}

	.categoryList .circleDecoration {min-width: 60px; min-height: 60px;}

	.borderedTab {
		border: 8px solid #faf4d0;
		position: relative;
		height: 100%;
		margin: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 413px) {
	.categoryList {font-size: 80%;}

	.categoryList .circleDecoration {min-width: 45px; min-height: 45px;}
	.categoryList .circleDecoration {margin-right: 7px;}
}